<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>水电煤查询结果</title>
    <link rel="stylesheet" href="../css_copy/index.css">
    <link rel="stylesheet" href="../css_copy/iconfont.css">
    <link rel="stylesheet" href="../css_copy/global.css">
    <link rel="stylesheet" href="../css_copy/styles.css">
    <style type="text/css">
        body { background: #fafafa; }
        .header { height: 40px; overflow: hidden; }
        .result_box{width:342px;height:233px;margin: 0 auto;background:url("../img/r_bg.png");padding:20px 30px;overflow: hidden;}
        .result_box table th,.result_box table td{font-size: 14px;line-height:45px;color: #333;}
        .result_box table th{color:#888;text-align: right;padding:0 30px 0 10px;}
        .result_box table tr.tr_bt{border-top:1px solid #d4dde0;}
    </style>
</head>
<body>
<!--header begin-->
<div class="header">
    <div class="header_top">
        <div class="content clearfix">
            <ul class="header_nav lthei mart15 floatleft clearfix">
                <li><a href="#">首页</a></li>
                <li><a href="#">商家中心</a></li>
                <li><a href="#">平台政策</a></li>
                <li><a href="#">问题反馈</a></li>
                <li class="noborder"><a href="#">巨氧超宝手机版</a></li>
            </ul>
            <a href="#" class="btn btn_cart nobg floatright"><i class="iconfont icon-cartfill marr5"></i>购物车(<em>10</em>)</a>
            <ul class="header_nav lthei mart15 floatright clearfix">
                <li><a href="#">欢迎回来，<em>刘德华</em></a></li>
                <li><a href="#">个人中心</a></li>
                <li><a href="#">我的余额<i class="el-icon-caret-bottom marl5"></i></a></li>
                <li class="noborder"><a href="#">消息公告</a></li>
            </ul>
        </div>
    </div>
</div>
<!--header over-->
<div class="content">
    <p class="aligncenter mart50 font36 color_3">水电煤查询结果</p>
    <div class="result_box mart50">
        <table style="width: 100%;">
            <tr>
                <th>户名:</th>
                <td>甘家口小区3号楼3单元</td>
            </tr>
            <tr>
                <th>缴费单位:</th>
                <td>北京市自来水集团（按月缴纳）</td>
            </tr>
            <tr>
                <th>缴费户号:</th>
                <td>070228998</td>
            </tr>
            <tr>
                <th>账期:</th>
                <td>2017年2月</td>
            </tr>
            <tr class="tr_bt">
                <th>需缴费用:</th>
                <td><span class="color_theme font18">200.00</span> 元</td>
            </tr>
        </table>
    </div>
    <p class="aligncenter mart50"><button type="button" class="el-button el-button--theme width-160"><span>确定缴费</span></button></p>
</div>
</body>
</html>