<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>评价</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css_copy/index.css">
    <link rel="stylesheet" href="../css_copy/iconfont.css">
    <link rel="stylesheet" href="../css_copy/global.css">
    <link rel="stylesheet" href="../css_copy/styles.css">
    <style type="text/css">
        /*body{background: #fafafa;}*/
        .content2{width: 950px;}
        .header{height: 40px;overflow: hidden;box-shadow: none;}
        .header_main .header_nav li{height:auto;}
        .header_main .header_nav li a{width:80px;color: #fff;border: 0;}
        .info_box{padding: 20px;}
        .p_box{border-bottom: 1px dotted #e0e0e0;padding: 20px 0;}
        .p_box a{width: 140px;}
        .p_box a p{width: 138px;height: 138px;border: 1px solid #e0e0e0;}
        .p_box a p img{width: 138px;height: 138px;}
        .p_txt{margin-left:200px;}
        .item_bg{background: #fff8f8;padding:5px;}
        .el-textarea__inner{height:120px;border: 1px solid #e0e0e0;border-radius:0;font-size: 12px;resize:none;}
        .el-upload{width: auto;}
        .el-upload__files li{width: 58px;height: 58px;border:1px solid #e0e0e0;float: left;margin-right: 10px;border-radius: 0;text-align: center;}
        .el-upload__files li img{max-width: 100%;}
        .el-upload__btn-delete{color: #fff;}
        .el-upload__btn-delete{background:url("../img/mask40.png") repeat;top:0;left:0;bottom:0;width: 100%;line-height:60px;}
        .el-radio__inner{width: 14px;height: 14px;}
    </style>
</head>
<body>
<!--header begin-->
<div class="header">
    <div class="header_top">
        <div class="content clearfix">
            <ul class="header_nav lthei mart15 floatleft clearfix">
                <li><a href="#">首页</a></li>
                <li><a href="#">商家中心</a></li>
                <li><a href="#">平台政策</a></li>
                <li><a href="#">问题反馈</a></li>
                <li class="noborder"><a href="#">巨氧超宝手机版</a></li>
            </ul>
            <a href="#" class="btn btn_cart floatright"><i class="iconfont icon-cartfill marr5"></i>购物车(<em>10</em>)</a>
            <ul class="header_nav lthei mart15 floatright clearfix">
                <li><a href="#">欢迎回来，<em>刘德华</em></a></li>
                <li><a href="#">个人中心</a></li>
                <li><a href="#">我的余额<i class="el-icon-caret-bottom marl5"></i></a></li>
                <li class="noborder"><a href="#">消息公告</a></li>
            </ul>
        </div>
    </div>
</div>
<!--header over-->
<div class="content content2 mart40">
    <p class="p_price font16 marl10">评价商品</p>
    <div class="info_box mart20">
        <div class="p_box clearfix">
            <a href="#" class="block floatleft">
                <p><img src="../img/p_img/p_white_200_200_1.jpg"></p>
                <span class="block mart10">云中飞呼噜圈 电子智能止鼾器 止鼾仪止酣器打呼</span>
                <span class="block mart10 color_8">分类：长款</span>
            </a>
            <div class="p_txt">
                <div class="el-rate">
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style=""></i></span>
                </div>
                <div class="item_bg mart20">
                    <div class="el-textarea"><textarea rows="2" class="el-textarea__inner"></textarea></div>
                    <div class="mart10">
                        <div class="el-upload">
                            <div class="clearfix">
                                <div class="el-upload__inner floatleft">
                                    <button type="button" class="el-button el-button--small noborder nobg color_8">
                                        <i class="el-icon-picture font14"></i>
                                        <span>上传图片</span>
                                    </button>
                                    <input type="file" class="el-upload__input">
                                </div>
                                <div class="el-upload__tip floatleft color_grey marl20">最多可上传5张图片</div>
                                <div class="el-radio-group marr10 floatright">
                                    <label class="el-radio">
                                        <span class="el-radio__input">
                                            <span class="el-radio__inner is-checked"></span>
                                            <input type="radio" class="el-radio__original" value="3">
                                        </span>
                                        <span class="el-radio__label font12">公开</span>
                                    </label>
                                    <label class="el-radio">
                                        <span class="el-radio__input">
                                            <span class="el-radio__inner"></span>
                                            <input type="radio" class="el-radio__original" value="6"></span>
                                        <span class="el-radio__label font12">匿名</span>
                                    </label>
                                </div>
                            </div>
                            <ul class="el-upload__files clearfix mart10">
                                <li class="el-upload__file is-finished">
                                    <p><img src="../img/p_img/p_80_80_1.jpg"></p>
                                    <a class="el-upload__file__name"></a>
                                    <span class="el-upload__btn-delete"><i class="el-icon-close"></i></span>
                                </li>
                                <li class="el-upload__file is-finished">
                                    <p><img src="../img/p_img/p_80_80_2.jpg"></p>
                                    <a class="el-upload__file__name"></a>
                                    <span class="el-upload__btn-delete"><i class="el-icon-close"></i></span>
                                </li>
                                <li class="el-upload__file is-finished">
                                    <p><img src="../img/p_img/p_80_80_4.jpg"></p>
                                    <a class="el-upload__file__name"></a>
                                    <span class="el-upload__btn-delete"><i class="el-icon-close"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p_box clearfix">
            <a href="#" class="block floatleft">
                <p><img src="../img/p_img/p_white_200_200_1.jpg"></p>
                <span class="block mart10">云中飞呼噜圈 电子智能止鼾器 止鼾仪止酣器打呼</span>
                <span class="block mart10 color_8">分类：长款</span>
            </a>
            <div class="p_txt">
                <div class="el-rate">
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style=""></i></span>
                </div>
                <div class="item_bg mart20">
                    <div class="el-textarea"><textarea rows="2" class="el-textarea__inner"></textarea></div>
                    <div class="mart10">
                        <div class="el-upload">
                            <div class="clearfix">
                                <div class="el-upload__inner floatleft">
                                    <button type="button" class="el-button el-button--small noborder nobg color_8">
                                        <i class="el-icon-picture font14"></i>
                                        <span>上传图片</span>
                                    </button>
                                    <input type="file" class="el-upload__input">
                                </div>
                                <div class="el-upload__tip floatleft color_grey marl20">最多可上传5张图片</div>
                                <div class="el-radio-group marr10 floatright">
                                    <label class="el-radio">
                                        <span class="el-radio__input">
                                            <span class="el-radio__inner is-checked"></span>
                                            <input type="radio" class="el-radio__original" value="3">
                                        </span>
                                        <span class="el-radio__label font12">公开</span>
                                    </label>
                                    <label class="el-radio">
                                        <span class="el-radio__input">
                                            <span class="el-radio__inner"></span>
                                            <input type="radio" class="el-radio__original" value="6"></span>
                                        <span class="el-radio__label font12">匿名</span>
                                    </label>
                                </div>
                            </div>
                            <ul class="el-upload__files clearfix mart10" style="display: none;">
                                <li class="el-upload__file is-finished">
                                    <p><img src="../img/p_img/p_80_80_1.jpg"></p>
                                    <a class="el-upload__file__name"></a>
                                    <span class="el-upload__btn-delete"><i class="el-icon-close"></i></span>
                                </li>
                                <li class="el-upload__file is-finished">
                                    <p><img src="../img/p_img/p_80_80_2.jpg"></p>
                                    <a class="el-upload__file__name"></a>
                                    <span class="el-upload__btn-delete"><i class="el-icon-close"></i></span>
                                </li>
                                <li class="el-upload__file is-finished">
                                    <p><img src="../img/p_img/p_80_80_4.jpg"></p>
                                    <a class="el-upload__file__name"></a>
                                    <span class="el-upload__btn-delete"><i class="el-icon-close"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p_box clearfix">
            <a href="#" class="block floatleft">
                <p><img src="../img/p_img/p_white_200_200_1.jpg"></p>
                <span class="block mart10">云中飞呼噜圈 电子智能止鼾器 止鼾仪止酣器打呼</span>
                <span class="block mart10 color_8">分类：长款</span>
            </a>
            <div class="p_txt">
                <div class="el-rate">
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style="color:#75bb29;"></i></span>
                    <span class="el-rate__item" style="cursor: auto;"><i class="el-rate__icon el-icon-star-on" style=""></i></span>
                </div>
                <div class="item_bg mart20">
                    <div class="el-textarea"><textarea rows="2" class="el-textarea__inner"></textarea></div>
                    <div class="mart10">
                        <div class="el-upload">
                            <div class="clearfix">
                                <div class="el-upload__inner floatleft">
                                    <button type="button" class="el-button el-button--small noborder nobg color_8">
                                        <i class="el-icon-picture font14"></i>
                                        <span>上传图片</span>
                                    </button>
                                    <input type="file" class="el-upload__input">
                                </div>
                                <div class="el-upload__tip floatleft color_grey marl20">最多可上传5张图片</div>
                                <div class="el-radio-group marr10 floatright">
                                    <label class="el-radio">
                                        <span class="el-radio__input">
                                            <span class="el-radio__inner is-checked"></span>
                                            <input type="radio" class="el-radio__original" value="3">
                                        </span>
                                        <span class="el-radio__label font12">公开</span>
                                    </label>
                                    <label class="el-radio">
                                        <span class="el-radio__input">
                                            <span class="el-radio__inner"></span>
                                            <input type="radio" class="el-radio__original" value="6"></span>
                                        <span class="el-radio__label font12">匿名</span>
                                    </label>
                                </div>
                            </div>
                            <ul class="el-upload__files clearfix mart10">
                                <li class="el-upload__file is-finished">
                                    <p><img src="../img/p_img/p_80_80_1.jpg"></p>
                                    <a class="el-upload__file__name"></a>
                                    <span class="el-upload__btn-delete"><i class="el-icon-close"></i></span>
                                </li>
                                <li class="el-upload__file is-finished">
                                    <p><img src="../img/p_img/p_80_80_2.jpg"></p>
                                    <a class="el-upload__file__name"></a>
                                    <span class="el-upload__btn-delete"><i class="el-icon-close"></i></span>
                                </li>
                                <li class="el-upload__file is-finished">
                                    <p><img src="../img/p_img/p_80_80_4.jpg"></p>
                                    <a class="el-upload__file__name"></a>
                                    <span class="el-upload__btn-delete"><i class="el-icon-close"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="aligncenter"><a href="#" class="btn btn-theme font14 mart20">发表评价</a></p>
</div>
<!--footer begin-->
<div class="footer relative">
    <div class="content footer_main lthei">
        <table>
            <tr>
                <td>
                    <p class="t_title"><i class="l_line"></i>联系我们</p>
                    <p><img src="../img/phone.png"><span>( 86 ) 0769-81661177 ( 服务时间 9:30-17:30 )</span></p>
                    <p><img src="../img/mail.png"><span>chaobaohl@163.com</span></p>
                    <p><img src="../img/qq.png"><span>1群: 191994219 ( 开 )</span></p>
                    <div class="div_txt marl30 mart10">近来有不明网友在交流群里散步假冒的官方群号请各位用户擦亮眼睛，注意甄别！</div>
                </td>
                <td>
                    <p class="t_title"><i class="l_line"></i>安全保障</p>
                    <p>采用Google Authenticator双重认证实时动态口令保护客户资金安全</p>
                    <p>优氧币钱包多层加密，离线存储，保障资产安全</p>
                </td>
                <td>
                    <p class="t_title"><i class="l_line"></i>友情链接</p>
                    <p>百度：<a href="#">http://www.baidu.com</a></p>
                    <p>搜狐：<a href="#">http://www.sohu.com</a></p>
                    <p>花瓣网：<a href="#">http://www.huaban.com</a></p>
                </td>
                <td>
                    <p class="t_title"><i class="l_line nobg"><img src="../img/l_1.png"></i>风险警告</p>
                    <p>优氧币交易有风险，它是全天24小时交易，没有涨跌限制。价格容易受到庄家、全球政策等影响下大幅波动。</p>
                    <p>我们强烈建议您在自身承受的风险范围内，参与优氧币交易。</p>
                </td>
            </tr>
        </table>
    </div>
    <p class="aligncenter">Copyright巨氧超宝（深圳）实业控股有限公司 © 2016</p>
</div>
<!--footer over-->
</body>
</html>