/*reset*/
body {
	color: #888888;
	height: 100%;
	background: #fff;
}
body, div, td, font, em {
	font-size: 12px;
	line-height: 1.2em;
	font-family: "Microsoft YaHei", Tahoma, Arial, "宋体", "黑体";
}

body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd {
	margin: 0;
	padding: 0;
}

table, table th {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: none;
}
.img-auto img{width: 100%;}
p img,.img-auto img{vertical-align: bottom;}
address, caption, cite, code, dfn, em, th, var, b, font, i {
	font-style: normal;
	font-weight: normal;
}

ul li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	zoom: 1;
}

input, textarea, select, button {
	font-size: 12px;
	font-weight: inherit;
	vertical-align: middle;
}

input[type=radio], input[type=checkbox] {
	vertical-align: -2px;
}

textarea {
	resize: none;
	overflow-x: hidden;
	overflow-y: auto;
	outline: medium none;
	word-wrap: break-word;
}

a {
	text-decoration: none;
	color: #343434;
}

a:focus {
	outline-style: none;
	outline-width: 0;
	outline: none;
}

/*a{_blr:expression(this.onFocus=this.blur());}*/
a:link, a:visited, a:active {
	text-decoration: none;
}

a:hover, .news-list li a:hover {
	text-decoration: none;
}

.strong {
	font-weight: bold!important;
}
.line-through{text-decoration: line-through;color: #b0b0b0;}
.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.aligncenter {
	text-align: center !important;
}

.alignright {
	text-align: right !important;
}

.alignleft {
	text-align: left !important;
}

.aligntop {
	vertical-align: top !important;
}

.block {
	display: block !important;
}

.inline {
	display: inline !important;
}

.inlineblock {
	display: inline-block !important;
}

.nobg {
	background: none !important;
}

.nofloat {
	float: none !important;
}

.noborder{
	border: 0 !important;
}

.visible {
	overflow: visible !important;
}

.visible-y {
	overflow-y: auto !important;
}

.hidden {
	overflow: hidden !important;
}

.relative {
	position: relative !important;
}

.absolute {
	position: absolute !important;
}
/*margin*/
.nomar {
	margin: 0 !important;
}

.mar-auto {
	margin: 0 auto !important;
}

.nomar-t {
	margin-top: 0 !important
}

.nomarl {
	margin-left: 0 !important;
}

.nomarr {
	margin-right: 0 !important;
}

.mart2 {
	margin-top: 2px !important;
}

.mart3 {
	margin-top: 3px !important;
}

.mart5 {
	margin-top: 5px !important;
}
.mart8 {
	margin-top: 8px !important;
}
.mart10 {
	margin-top: 10px !important;
}

.mart11 {
	margin-top: 11px !important;
}

.mart15 {
	margin-top: 15px !important;
}

.mart18 {
	margin-top: 18px !important;
}

.mart20 {
	margin-top: 20px !important;
}

.mart25 {
	margin-top: 25px !important;
}

.mart30 {
	margin-top: 30px !important;
}

.mart40 {
	margin-top: 40px!important;
}

.mart45 {
	margin-top: 45px !important;
}

.mart50 {
	margin-top: 50px !important;
}

.mart70 {
	margin-top: 70px !important;
}

.mart80 {
	margin-top: 80px !important;
}

.marbt10 {
	margin-bottom: 10px !important;
}

.marbt20 {
	margin-bottom: 20px !important;
}

.mart100 {
	margin-top: 100px !important;
}

.marl10 {
	margin-left: 10px !important;
}
.marl12 {
	margin-left: 12px !important;
}
.marl15 {
	margin-left: 14px !important;
}

.marr5 {
	margin-right: 5px !important;
}

.marr6 {
	margin-right: 7px !important;
}

.marr10 {
	margin-right: 10px !important;
}

.marr12 {
	margin-right: 12px !important;
}

.marr15 {
	margin-right: 15px !important;
}

.marr18 {
	margin-right: 18px !important;
}

.marr20 {
	margin-right: 20px !important;
}

.marr30 {
	margin-right: 30px !important;
}

.marr50 {
	margin-right: 50px !important;
}

.marl5 {
	margin-left: 5px !important;
}

.marl6 {
	margin-left: 7px !important;
}

.marl20 {
	margin-left: 20px !important;
}

.marl25 {
	margin-left: 25px !important;
}

.marl_20 {
	margin-left: -20px !important;
}

.marl30 {
	margin-left: 30px !important;
}

.marl40 {
	margin-left: 40px !important;
}

.marl50 {
	margin-left: 50px !important;
}
.marl80 {
	margin-left: 80px !important;
}
/*padding*/
.no_padding{padding: 0!important;}
.p_top10{padding-top: 10px;}
.p_top15{padding-top: 15px;}
.p_top20{padding-top: 20px;}
/*font-size*/
.font12 {
	font-size: 12px !important;
}

.font13 {
	font-size: 13px !important;
}

.font14 {
	font-size: 14px !important;
}

.font16 {
	font-size: 16px!important;
}

.font15 {
	font-size: 15px !important;
}

.font18 {
	font-size: 18px !important;
}

.font19 {
	font-size: 19px !important;
}

.font20 {
	font-size: 20px !important;
}

.font22 {
	font-size: 22px !important;
}

.font24 {
	font-size: 24px!important;
}

.font25 {
	font-size: 25px !important;
}

.font26 {
	font-size: 26px !important;
}

.font28 {
	font-size: 28px !important;
}

.font30 {
	font-size: 30px !important;
}
.font36 {
	font-size: 36px !important;
}
.font48 {
	font-size: 48px !important;
}

.font70 {
	font-size: 70px !important;
}
/*width*/
.width-54{width: 54px!important;}
.width-50{width: 50px!important;}
.width-60{width: 60px!important;}
.width-70{width: 70px;}
.width-120{width: 120px;}
.width-160{width: 160px;}
.width-200{width:200px;}
/*clear*/
.clear {
	clear: both;
	line-height: 0;
	height: 0;
	font-size: 0;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.txt_hidden{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
}
/*font*/
@font-face {
	font-family: 'lthei';
	src: url('../fonts/lthj.TTF');
	/*src: url('../fonts/Lantinghei.eot?#iefix') format('embedded-opentype'),*/
	/*url('../fonts/Lantinghei.woff') format('woff'),*/
	/*url('../fonts/lthj.ttf') format('truetype'),*/
	/*url('../fonts/Lantinghei.svg#NeuesBauenDemo') format('svg');*/
	font-weight: normal;
	font-style: normal;
}
.lthei,.lthei *{font-family:lthei!important;}

.color_0{color:#000!important;}
.color_white{color:#fff!important;}
.color_3{color:#333!important;}
.color_error{color:#ff0000!important;}
.color_buy{color:#df4c4c!important;}
.color_8,.color_8 a{color:#888!important;}
.color_9{color: #999;}
.color_grey{color:#b0b0b0!important;}
.color_theme{color:#75bb29;}
a.a_link:hover{text-decoration: underline;}
.text_indent{text-indent: 2em;}
.no_click{background: #a7bccb!important;cursor: default;}
.a_link,a.a_link{color: #0095e3!important;}
.v-top{vertical-align: top;}
.v-middle{vertical-align: middle;}
/*icon*/
.icon{display: inline-block;vertical-align: middle;}
.icon-email,.icon-lock{width:14px;height:10px;background: url("../img/mail2.png");position: absolute;top:50%;margin-top:-5px;right:13px;}
.icon-lock{width:11px;height:14px;background: url("../img/lock.png");margin-top:-7px;right:15px;}
/*btn*/
.btn{display: inline-block;text-align: center;}
.btn-radius{border-radius:1.4rem;}
.btn_cart,.shop_cart{width:120px;height: 40px;line-height: 40px;color:#fff;background: #74ba29;overflow: hidden;}
.btn_cart.nobg{color: #b0b0b0;}
.btn_cart.nobg:hover{color: #74ba29;}
.el-button--buy{background: #74ba29!important;color:#fff;border-color:#74ba29;padding:7px 20px;}
.el-button--buy:hover{background: #8bd53c!important;;color:#fff!important;border-color:#8bd53c;}
.el-button--buy.is-disabled{background: #b0b0b0!important;color:#fff!important;;border-color:#b0b0b0!important;}
.btn-take{line-height:24px;padding:0 10px;border:1px solid #e0e0e0;color:#888;background: #fafafa;border-radius:3px;}
.btn-theme{width:160px;height:40px;line-height:40px;background: #74ba29;color: #fff;border-radius:4px;}
.el-button--admin:hover{border-color:#0085d7;color: #0085d7;}


.p_line{font-size: 0;line-height: 0;border-bottom:1px solid #e5e5e5;}
.p_line_dot{font-size: 0;line-height: 0;border-bottom:1px dotted #e0e0e0;}
.you{display: inline-block;background: #74ba29;border-radius:2px;color:#fff;line-height:16px;padding: 0 4px;font-size: 12px;}

.mask{position: fixed;width: 100%;height:100%;top:0;left:0;background:#000;opacity: 0.5;z-index: 30;display: none;}
.pop{background:#fff;border-radius:4px;position: fixed;z-index:32;top:50%;left: 50%;overflow:hidden;}
.pop_title{height:30px;line-height:30px;background:#fafafa;border-bottom:1px solid #e0e0e0;text-indent:20px;color:#333;}
.pop_inner{padding:10px 20px;overflow-y: auto;}
/*分页*/
[class*=" el-icon-"], [class^=el-icon-]{font-family: element-icons!important;}
.el-pagination .btn-prev{border-right:1px solid #e5e5e5;}
.el-pagination .btn-next,.el-pager li.active+li{border-left:1px solid #e5e5e5;}
.el-pager li{border:1px solid #e5e5e5;border-width:1px;margin:0 2px;}
.el-pager li.active{background-color:#0095e3;border-color:#0095e3;}

/*栅栏布局*/
.content{width: 1200px;margin:0 auto;}
.main{background: #fafafa;padding: 15px 0 40px 0;}
.main_inner{width: 900px;margin: 0 auto;}
.info_box{border: 1px solid #e0e0e0;}
.link_box{border: 1px dotted #e0e0e0;background: #fafafa;}
/*批量编辑*/
.edit_mask{position: absolute!important;width:100%;left:0;top:0;bottom:0;background: url("../img/mask50.png") repeat;z-index: 5;display: none;}
.edit_mask .el-checkbox__inner{width:20px;height:20px;border-radius:0;border:0;background: #000;opacity: 0.7;color: #d7d7d7;}
.edit_mask .el-checkbox__input.is-checked .el-checkbox__inner{background: #75bb29;color: #fff;opacity: 1;}
.edit_mask .el-checkbox{position: absolute;top:0;right:0;}
.edit_mask .el-checkbox__inner::after{top:3px;left:6px;width: 6px;height: 10px;}

.el-checkbox__inner{width: 14px;height: 14px;border-radius:0;}
.el-checkbox__input.is-checked .el-checkbox__inner{background-color:#75bb29;border-color: #75bb29;}
.personal_right .el-checkbox__input.is-checked .el-checkbox__inner{background-color:#0085d7;border-color: #0085d7;}
.el-checkbox__inner::after{left: 3px;}
.el-dropdown-menu__item{text-align: left;line-height: 26px;}
.el-dropdown-menu__item:not(.is-disabled):hover{background: #fafafa;}
.el-radio__label,.el-checkbox__label,.el-form-item__error{font-size: 12px;}
.el-radio__inner{width: 14px;height: 14px;}
.el-radio-group .el-radio,.el-checkbox{min-width: 110px;}
.is-checked+.el-radio__label{color:#0085d7}
.el-form-item__info{position: absolute;color: #b0b0b0;}
.el-form-item__error{display: none;}
.is-error .el-form-item__error{display: block;}
.is-error .el-form-item__info{display: none;}
.el-form-item_select{width: 100px;height: 24px;border:1px solid #e0e0e0;border-radius:0;}
.el-checkbox,.el-checkbox + .el-checkbox{margin: 0;margin-right: 10px;}


@font-face {
	font-family: element-icons;
	src: url(../fonts/element-icons.eot);
	src: url(../fonts/element-icons.ttf) format('truetype');
	font-weight: 400;
	font-style: normal
}
[class*=" el-icon-"], [class^=el-icon-] {
    font-family: element-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.el-icon-arrow-down:before {
    content: "\E600"
}

.el-icon-arrow-left:before {
    content: "\E601"
}

.el-icon-arrow-right:before {
    content: "\E602"
}

.el-icon-arrow-up:before {
    content: "\E603"
}

.el-icon-caret-bottom:before {
    content: "\E604"
}

.el-icon-caret-left:before {
    content: "\E605"
}

.el-icon-caret-right:before {
    content: "\E606"
}

.el-icon-caret-top:before {
    content: "\E607"
}

.el-icon-check:before {
    content: "\E608"
}

.el-icon-circle-check:before {
    content: "\E609"
}

.el-icon-circle-close:before {
    content: "\E60A"
}

.el-icon-circle-cross:before {
    content: "\E60B"
}

.el-icon-close:before {
    content: "\E60C"
}

.el-icon-upload:before {
    content: "\E60D"
}

.el-icon-d-arrow-left:before {
    content: "\E60E"
}

.el-icon-d-arrow-right:before {
    content: "\E60F"
}

.el-icon-d-caret:before {
    content: "\E610"
}

.el-icon-date:before {
    content: "\E611"
}

.el-icon-delete:before {
    content: "\E612"
}

.el-icon-document:before {
    content: "\E613"
}

.el-icon-edit:before {
    content: "\E614"
}

.el-icon-information:before {
    content: "\E615"
}

.el-icon-loading:before {
    content: "\E616"
}

.el-icon-menu:before {
    content: "\E617"
}

.el-icon-message:before {
    content: "\E618"
}

.el-icon-minus:before {
    content: "\E619"
}

.el-icon-more:before {
    content: "\E61A"
}

.el-icon-picture:before {
    content: "\E61B"
}

.el-icon-plus:before {
    content: "\E61C"
}

.el-icon-search:before {
    content: "\E61D"
}

.el-icon-setting:before {
    content: "\E61E"
}

.el-icon-share:before {
    content: "\E61F"
}

.el-icon-star-off:before {
    content: "\E620"
}

.el-icon-star-on:before {
    content: "\E621"
}

.el-icon-time:before {
    content: "\E622"
}

.el-icon-warning:before {
    content: "\E623"
}

.el-icon-delete2:before {
    content: "\E624"
}

.el-icon-upload2:before {
    content: "\E627"
}

.el-icon-view:before {
    content: "\E626"
}

.el-icon-loading {
    animation: rotating 1s linear infinite
}

.el-icon--right {
    margin-left: 5px
}

.el-icon--left {
    margin-right: 5px
}

.bg_01{background:#fafafa;}

/*reset ele*/
/*.el-form-item__content{line-height: 1;}*/
.el-checkbox__label,.el-radio__label,.el-textarea__inner{font-size: 12px!important;}
.el-form-item__label{font-size: 12px;color: #393945;}
.el-input__inner{border-radius: 0;height:30px;font-size: 12px;}

.el-radio__inner{width: 14px;height:14px;}
.el-checkbox__inner::after{left: 3px;}
.el-textarea textarea{resize: none;}
.el-checkbox__inner{width: 14px;height:14px;}

.el-button--theme{background: #67b118;color: #fff;border-color:#67b118;}
.el-button--theme:hover,.el-button--theme:active{color: #fff;border-color:#63a71a;background:#63a71a;}

/*form*/
.has-general input,.form-input,.form-select{border:1px solid #c0ccda;height: 30px;line-height: 30px;outline: 0;text-indent:10px;width: 100%;}
.form-select{height: 32px;background: #fff;}
.form-input:hover{border-color:#8492a6;}
.form-input:focus{border-color:#42a5fc;}
.has-error .form-input,.has-error .form-input:hover,.has-error .form-input:focus{border-color:#ff0000;color:#ff0000;}
.form-genera_label{text-align: right; vertical-align: middle; float: left;color: #333; line-height: 1; padding: 10px 12px 10px 0; box-sizing: border-box;font-size: 12px;}
.has-general{margin-bottom: 20px;}
.form-general_content{position: relative;}
.form-error_info{position:absolute;top:34px;display: none;}
.has-error .form-error_info{display: block;color:#ff0000;}
.form-inline .has-general{display:inline-block;margin-bottom:0;}
